[defines]

# Required by bub
PROJECT = linalg
REPOS =

# Other paths used in commands
SYS_IMP =
SYS_INC =
SYS_LIB =
SYS_PATH =

# Compiler switches used in commands
DFLAGS = 
LINKFLAGS =
DLINKFLAGS =

### Build commands ###

# Object files
.d .obj = dmd -c ${INPUT} -I${SYS_IMP} -I${PROJ_INC} ${DFLAGS} -of${OUTPUT}

# Static libraries
.d .slib = dmd -lib ${INPUT} -of${OUTPUT}

# Executables
.d .exe = dmd ${INPUT} ${DLINKFLAGS} -L-L${SYS_LIB} -L-L${PROJ_LIB} -L-l${LIBS} -of${OUTPUT}

[modes]

debug
    DFLAGS += -debug -unittest

release
    DFLAGS += -O -release


[syslibs]

lapack
blas
